@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  color: #f7f7f7;
}

code {
  font-family: "Orbitron", sans-serif;
}

input:focus {
  outline: none;
}

span {
  font-size: 1.6rem;
}

/* @media only screen and (max-width: 37.5em) {
  html {
    font-size: 75%;
  }
} */

.heading-primary {
  font-size: 6rem;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 400;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
}

/* 1800px */
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}


/* 1200px */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-primary {
    font-size: 5rem;
  }

  .heading-secondary {
    font-size: 3.5rem;
  }

  .heading-tertiary {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
